@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Pacifico&display=swap');

header {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4em;
    color: #ececec;
    text-align: center;
}
header img {
    margin-bottom: 1em;
    width: 8em;
    height: auto;
    transition: .8s ease-in-out;
}

header img:hover {
    transform: rotate(360deg) scale(1.5);
}

header h1 {
    font-family: 'Pacifico', cursive;
}