.list-item {
    background-color: #00d4f0;
    border-radius: 8px;
    padding: 1em;
    color: #1a1a1a;
    font-family: 'Balsamiq Sans', cursive;
    font-size:1.2em;
    margin-bottom: 0.5em;
}

.list-item:hover {
    transform: scale(1.02)
}

.list-item input[type=checkbox] {
    transform: scale(2.5);
    margin-left: 0em;
}